.coverage
.jupyter-config-test/
.jupyter-runtime-test/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ty/
.uv-cache/
.venv/
.venv_pkgtest/
coverage/
dist/
lib/
node_modules/
save_my_jupyter/labextension/
test-dist/
tsconfig.tsbuildinfo
__pycache__/
.pytest_tmp/
.selenium-cache/
.selenium-profile/
.selenium-venv/
pytest-cache-files*/
tmp-selenium-jupyter*.log
tmp*/
wheel_install/
tmp*.*
selenium-profile*/
