.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.uv-cache/
.venv/
.venv_pkgtest/
coverage/
dist/
lib/
node_modules/
save_my_jupyter/labextension/
test-dist/
tsconfig.tsbuildinfo
__pycache__/
.pytest_tmp/
pytest-cache-files*/
tmp*/
wheel_install/
